@model MailViewModel
@{
    Layout = "";
    ViewBag.Title = Model.Title;
}

@* <div class="card my-10">
    <div class="card-body">
        <h1 class="h3 mb-2">@Model.Title</h1>
        <h5 class="text-teal-700">Here is a very simple email using Bootstrap Email</h5>
        <hr>
        <div class="space-y-3">
            <p class="text-gray-700">@Model.Body</p>
            <p class="text-gray-700">
                We hope you enjoy using Bootstrap Email. This is our Online Editor that allows you to edit emails
                and have them render directly in the browser. The outputted HTML will be in the "HTML" tab in the top
                and that is the HTML you want to use to send emails. All the styles and responsive CSS are self contained in the
                HTML that is generated making is very portable needing no external CSS files.
            </p>
            <p class="text-gray-700">
                You can use the "Test" button to email yourself the outputted code to test in your inbox and email client.
            </p>
            <p class="text-gray-700">
                Check out the <a href="@Model.Link" target="_blank">Aktivasyon</a> for syntax and usage of writing emails with Bootstrap Email.
            </p>
        </div>
        <hr>
        <a class="btn btn-primary" href="https://app.bootstrapemail.com/templates" target="_blank">Get More Email Templates</a>
    </div>
</div> *@
<table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; margin: 0 auto;">
    <tbody>
        <tr>
            <td style="line-height: 24px; font-size: 16px; margin: 0;" align="left">
                <table class="s-10 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                    <tbody>
                        <tr>
                            <td style="line-height: 40px; font-size: 40px; width: 100%; height: 40px; margin: 0;" align="left" width="100%" height="40">
                                &#160;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="card" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid #e2e8f0;" bgcolor="#ffffff">
                    <tbody>
                        <tr>
                            <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left" bgcolor="#ffffff">
                                <table class="card-body" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0; padding: 20px;" align="left">
                                                <h1 class="h3" style="padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; font-size: 28px; line-height: 33.6px; margin: 0;" align="left">Bootstrap Email</h1>
                                                <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
                                                                &#160;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h5 class="text-teal-700" style="color: #13795b; padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; font-size: 20px; line-height: 24px; margin: 0;" align="left">Here is a very simple email using Bootstrap Email</h5>
                                                <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                                                                &#160;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="hr" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 24px; font-size: 16px; border-top-width: 1px; border-top-color: #e2e8f0; border-top-style: solid; height: 1px; width: 100%; margin: 0;" align="left">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                                                                &#160;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="space-y-3">
                                                    <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">Click the "Render" button at the top of the page every time you want to rebuild the email.</p>
                                                    <table class="s-3 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="line-height: 12px; font-size: 12px; width: 100%; height: 12px; margin: 0;" align="left" width="100%" height="12">
                                                                    &#160;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">
                                                        We hope you enjoy using Bootstrap Email. This is our Online Editor that allows you to edit emails
                                                        and have them render directly in the browser. The outputted HTML will be in the "HTML" tab in the top
                                                        and that is the HTML you want to use to send emails. All the styles and responsive CSS are self contained in the
                                                        HTML that is generated making is very portable needing no external CSS files.
                                                    </p>
                                                    <table class="s-3 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="line-height: 12px; font-size: 12px; width: 100%; height: 12px; margin: 0;" align="left" width="100%" height="12">
                                                                    &#160;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">
                                                        You can use the "Test" button to email yourself the outputted code to test in your inbox and email client.
                                                    </p>
                                                    <table class="s-3 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="line-height: 12px; font-size: 12px; width: 100%; height: 12px; margin: 0;" align="left" width="100%" height="12">
                                                                    &#160;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin: 0;" align="left">
                                                        Check out the <a href="https://bootstrapemail.com/docs/introduction" target="_blank" style="color: #0d6efd;">Documentation</a> for syntax and usage of writing emails with Bootstrap Email.
                                                    </p>
                                                </div>
                                                <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                                                                &#160;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="hr" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 24px; font-size: 16px; border-top-width: 1px; border-top-color: #e2e8f0; border-top-style: solid; height: 1px; width: 100%; margin: 0;" align="left">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                                                                &#160;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="btn btn-primary" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="line-height: 24px; font-size: 16px; border-radius: 6px; margin: 0;" align="center" bgcolor="#0d6efd">
                                                                <a href="https://app.bootstrapemail.com/templates" target="_blank" style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: normal; white-space: nowrap; background-color: #0d6efd; padding: 8px 12px; border: 1px solid #0d6efd;">Get More Email Templates</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="s-10 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                    <tbody>
                        <tr>
                            <td style="line-height: 40px; font-size: 40px; width: 100%; height: 40px; margin: 0;" align="left" width="100%" height="40">
                                &#160;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>