@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        @Html.Partial("_SubMenu")
    </div>
    <div class="col" id="subMenu">
        @* @Html.RenderAction("SubMenu", "Home"); *@
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            $.ajax({
                url: "/Home/SubMenu",
                success: (data) => {
                    //console.log(data);
                    $("#subMenu").html(data);
                }
            });
        });
    </script>
}
