@model LoginViewModel
@{
    Layout = "_LayoutLogin";
}
<form asp-action="Login">
    <span class="text-danger">@ViewBag.ErrorMessage</span>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">@Html.DisplayNameFor(m => m.Email)</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">@Html.DisplayNameFor(m => m.Password)</label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="Giriş">
    </div>
</form>