@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <span class="text-danger fw-bolder text-center">@ViewBag.Error</span>
    <span class="text-warning fw-bolder text-center">@ViewBag.NotFoundUser</span>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
